<div class="wrap">
    <div class="search">
       <input type="text" (input)="onInput($event)" class="searchTerm" placeholder="Enter the first name ">
       <button type="submit" class="searchButton" (click)="onDelete()" >
         Delete
      </button>
    </div>
 </div>
<table class="styled-table">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of types">
        <tr>
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.subject}}</td>
        </tr>
    </tbody>
</table>
